* { 
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    border: 0;
}

body {
    margin: 0 auto;
    background: url(../img/background.jpg) no-repeat top;
}
